<div class="rando">
{{#each beers}}
<div class="image"><img src="{{this.image_url}}"></div>

<h1>{{this.name}}</h1>
<p>{{this.description}}</p>
<h2>{{this.tagline}}</h2>
<h3>{{this.food}}</h3>

{{/each}}
</div>